* {
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;    
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

main {
    background-color: red;
    width: 400px;
    height: 290px;
    text-align: center;
    border-radius: 25px;
    line-height: 25%;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, p {
    color: white;
}

section {
    margin: 5px;
    padding: 1px;
}

.hello {
    font-size: 4.5em;
    text-transform: uppercase;
}

.my-name-is {
    font-size: 2em;
    font-weight: lighter;
}

.name {
    background-color: white;
    color: black ;
    font-family: cursive;
    font-size: 2em;
    line-height: 115px;
}

input {
    width: 100%;
    margin: 5px;
    padding: 1px;
    font-family: cursive;
}

button {
    width: 100%;
    text-align: center;
    font-style: italic;
    margin: 5px;    
}

#my-pink-button {
    background-color: pink;
}

#my-lightgreen-button {
    background-color: lightgreen;
}

#my-lightblue-button {
    background-color: lightblue;
}